header{
  padding: 12px 0;

  .container{
    align-items: center;
    justify-content: space-between;

    a{
      font-family: 'Work Sans';
      color: #000;
    }

    .head_logo{
      max-width: 100px;
      img{
        width: 100%;
        display: block;
      }
    }

    .primary-navigation{
      ul{
        gap: 42px;
        #pricing{
          margin-left: 14px;
        }
      }
    }

    nav ul span::after{
      width: 0;
      border-bottom: none;
      content: url(../images/Frame.svg);
      display: inline-block;
      position: relative;
      left: 8px;
      top: 1px;
    }

    .sign{
      align-items: center;
      gap: 32px;

      .request{
        border: solid black;
        background: #000000;
        border-radius: 24px;
        padding: 8px 16px;
        color: #FFFFFF;
      }

    }
  }
}